@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");
/* 
    Other:
    font-family: "Playfair Display", serif; 

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-height: 3rem;

    /* Light Mode */
    --c-light-main: rgb(255, 255, 255);
    --c-light-main-trans: rgba(255, 255, 255, 0.95);
    --c-light-sec: rgb(0, 131, 255);
    --c-light-text: rgb(0, 0, 0);

    /* Dark Mode */
    --c-dark-main: rgb(20, 20, 20);
    --c-dark-main-trans: rgba(20, 20, 20, 0.95);
    --c-dark-sec: rgb(149, 68, 255);
    --c-dark-text: rgb(255, 255, 255);

    --c-error-text: rgb(255, 0, 0);

    --border-radius: 10px;
    --box-shadow: 0 0 5px 0;
    --transition: 200ms ease-in-out;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: "Roboto", sans-serif;
    background: var(--c-light-main);
    color: var(--c-light-text);
}

body.darkMode {
    background: var(--c-dark-main);
    color: var(--c-dark-text);
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

span {
    color: var(--c-light-sec);
}

body.darkMode span {
    color: var(--c-dark-sec);
}

.wrapper {
    padding-top: var(--nav-height);
    max-width: 80rem;
}

.icon {
    user-select: none;
    cursor: pointer;
}

.error-text {
    color: var(--c-error-text);
}

.hidden {
    display: none;
}

/* Transitions */
body,
nav,
aside {
    transition: var(--transition);
}

@media screen and (max-width: 480px), screen and (max-height: 480px) {
    .wrapper {
        width: 100%;
    }
}

/* Form
================================================================= */
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form input,
form textarea {
    padding: 0.3rem 0.5rem;

    border: 1px solid var(--c-light-sec);
    border-radius: var(--border-radius);
}

body.darkMode form input,
body.darkMode form textarea {
    border: 1px solid var(--c-dark-sec);
}

form input:focus,
form textarea:focus {
    outline: 2px solid var(--c-light-sec);
    box-shadow: 0 0 5px 0 var(--c-light-sec);
}

body.darkMode form input:focus,
body.darkMode form textarea:focus {
    outline: 2px solid var(--c-dark-sec);
    box-shadow: 0 0 5px 0 var(--c-dark-sec);
}

form input[type="submit"],
form input[type="button"] {
    font-size: 1.5rem;
    color: var(--c-dark-text);
    background: var(--c-light-sec);

    border: none;
    cursor: pointer;
}

body.darkMode form input[type="submit"],
body.darkMode form input[type="button"] {
    background: var(--c-dark-sec);
}

form a {
    color: var(--c-light-sec);
}

form a {
    color: var(--c-dark-sec);
}
