nav {
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    height: var(--nav-height);
    width: 100%;

    background: var(--c-light-main-trans);
    box-shadow: var(--box-shadow) var(--c-light-sec);

    z-index: 100;
}

body.darkMode nav {
    background: var(--c-dark-main-trans);
    box-shadow: var(--box-shadow) var(--c-dark-sec);
}

nav a {
    padding: 0.5rem;

    color: var(--c-light-text);
    text-decoration: none;
    border: 1px solid var(--c-light-sec);
    border-radius: var(--border-radius);

    transition: var(--transition);
}

nav a:hover {
    background-color: var(--c-light-sec);
}

body.darkMode nav a {
    color: var(--c-dark-text);
    border: 1px solid var(--c-dark-sec);
}

body.darkMode nav a:hover {
    background-color: var(--c-dark-sec);
}

nav p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav .icon,
aside .icon {
    font-size: 2rem;

    color: var(--c-light-text);
    border-radius: 100%;

    transition: var(--transition);
}

body.darkMode nav .icon,
body.darkMode aside .icon {
    color: var(--c-dark-text);
}

nav .icon:hover {
    color: var(--c-dark-text);
    background: var(--c-light-sec);
    box-shadow: var(--box-shadow) var(--c-light-sec);
}

body.darkMode nav .icon:hover {
    color: var(--c-light-text);
    background: var(--c-dark-sec);
    box-shadow: var(--box-shadow) var(--c-dark-sec);
}

nav div {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 480px) {
    #logo {
        display: none;
    }
}

/* Aside 
======================================= */
aside {
    position: fixed;
    right: 0;
    top: calc(-500px + var(--nav-height));

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0.5rem;
    width: 15rem;

    background: var(--c-light-main-trans);
    box-shadow: var(--box-shadow) var(--c-light-sec);
    border-bottom-left-radius: var(--border-radius);
}

aside.show {
    top: calc(0px + var(--nav-height));
}

body.darkMode aside {
    background: var(--c-dark-main);
    box-shadow: var(--box-shadow) var(--c-dark-sec);
}

aside section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0.5rem;

    text-align: center;
    border: 1px solid var(--c-light-sec);
    border-radius: var(--border-radius);

    user-select: none;
    cursor: pointer;
}

body.darkMode aside section {
    border: 1px solid var(--c-dark-sec);
}

aside section:hover {
    color: var(--c-light-sec);
    box-shadow: var(--box-shadow) var(--c-light-sec);
}

body.darkMode aside section:hover {
    color: var(--c-dark-sec);
    box-shadow: var(--box-shadow) var(--c-dark-sec);
}

aside section:hover .icon {
    color: var(--c-light-sec);
}

body.darkMode aside section:hover .icon {
    color: var(--c-dark-sec);
}

aside section p {
    display: flex;
    align-items: center;

    font-size: 1.5rem;
}

/* Expand */
aside section > div {
    display: none;

    margin-top: 0.5rem;
    padding: 0.5rem;

    border-top: 1px solid var(--c-light-sec);
}

aside section > div.show {
    display: block;
}

body.darkMode aside section > div {
    border-top: 1px solid var(--c-dark-sec);
}

/* Log out */
#logOutBtnContainer {
    padding: 0;
}

#logOutBtnContainer form {
    width: 100%;
    height: 100%;
}

#logOutBtn {
    color: var(--c-dark-text);

    transition: var(--transition);
}

#logOutBtn:hover {
    color: var(--c-light-text);
}

/* Color Picker 
==========================================================*/
#colorPickerContainer.show {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

#colorPickerContainer input {
    width: 100%;
}
