.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    height: calc(100dvh - var(--nav-height));
}

#registerView {
    padding: 1rem;

    box-shadow: var(--box-shadow) var(--c-light-sec);
    border-radius: var(--border-radius);
}

body.darkMode #registerView {
    box-shadow: var(--box-shadow) var(--c-dark-sec);
}

#registerView form {
    gap: 0;
}

#registerView form label,
#registerView form input {
    font-size: 1.2rem;
}

#registerView form input {
    margin-bottom: 1rem;
}

#registerView form input[type="submit"] {
    margin-bottom: 0;
}
