.wrapper {
    width: 100%;
}

/* Managements
============================================================================ */
#managements {
    position: fixed;
    left: -200%;
    bottom: 0;

    width: 20rem;
    height: calc(100dvh - var(--nav-height));

    background: var(--c-light-main-trans);
    box-shadow: var(--box-shadow) var(--c-light-sec);

    transition: var(--transition);
    z-index: 200;
}

#managements.show {
    left: 0;
}

body.darkMode #managements {
    background: var(--c-dark-main-trans);
    box-shadow: var(--box-shadow) var(--c-dark-sec);
}

.managementsSelections {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0.5rem;
}

.managementsSelections > div {
    display: flex;
}

.managementsSelections button {
    padding: 0.3rem 0.5rem;
    width: 100%;

    color: var(--c-light-text);
    font-size: 1rem;
    border: 1px solid var(--c-light-sec);
    border-radius: var(--border-radius);
}

body.darkMode .managementsSelections button {
    color: var(--c-dark-text);
    border: 1px solid var(--c-dark-sec);
}

.managementsSelections button.selected {
    background: var(--c-light-sec);
}

body.darkMode .managementsSelections button.selected {
    background: var(--c-dark-sec);
}

.managementsSelections button.managementsSelectionsEdit {
    max-width: fit-content;
}

/* Lists
============================================================================ */
.wrapper > div {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

/* User Btns */
.listUserBtns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    padding: 1rem 1rem 0;
}

.listUserBtns button {
    display: flex;
    align-items: center;

    color: var(--c-light-text);
}

body.darkMode .listUserBtns button {
    color: var(--c-dark-text);
}

#createNewManagementContainer {
    display: flex;
    flex-direction: row;

    padding: 0 0.5rem;
}

#createNewManagementContainer.hidden {
    display: none;
}

#createNewManagementContainer input[type="text"] {
    width: 100%;
}

/* Card */
.card{
    margin: 1rem;
    padding: 1rem;

    border: 1px solid var(--c-light-sec);
    border-radius: var(--border-radius);
}

body.darkMode .card {
    border: 1px solid var(--c-dark-sec);
}

/* Title */
.cardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.5rem;

    border-bottom: 1px solid var(--c-light-sec);
}

body.darkMode .cardTitle {
    border-bottom: 1px solid var(--c-dark-sec);
}

/* Lists */
.cardLists {
    display: flex;
    align-items: center;
    flex-direction: row;
}

button {
    justify-self: center;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

button.listCheck {
    width: 32px;
    height: 32px;

    border: 2px solid red;
}

/* Card Edit Container */
#cardEditContainer .cardEditLists {
    flex-direction: column;
}

#cardEditContainer .cardEditLists {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#cardEditContainer input {
    color: var(--c-light-text);
    background-color: transparent;
    border: none;

    border-radius: 0;
}

#cardEditContainer input:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--c-light-sec);
    box-shadow: none;
}

body.darkMode #cardEditContainer input:focus {
    border-bottom: 1px solid var(--c-dark-sec);
}

body.darkMode #cardEditContainer input {
    color: var(--c-dark-text);
}